@import-normalize;
@import 'reset';
@import 'variables';

@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap');

html,
body {
  font-family: 'Be Vietnam Pro', sans-serif;
  font-size: 16px;
  color: $darkBlue;
  background-color: $veryLightGray;
  --swiper-theme-color: #f25f3a;
}

.swiper-pagination {
  @media (min-width: 993px) {
    display: none;
  }
  .swiper-pagination-bullet:not(.swiper-pagination-bullet-active) {
    border: 1px $brightRed solid;
    background: none;
  }
}
