@import './../../variables';

.differents {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 140px;
  @media (max-width: 992px) {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 50px;
  }
}

.title {
  h2 {
    font-size: 34px;
    font-weight: 700;
    line-height: 120%;
    @media (max-width: 992px) {
      text-align: center;
    }
  }
  @media (max-width: 992px) {
    p {
      text-align: center;
    }
  }
}

.items .item + .item {
  margin-top: 45px;
}

.item {
  display: grid;
  grid-template-columns: min-content 1fr;
  column-gap: 30px;
  @media (max-width: 992px) {
    margin-top: 45px;
    p {
      grid-column: 1/3;
    }
  }
}

.number {
  font-weight: 700;
  padding: 10px 22px;
  border-radius: 20px;
  width: min-content;
  height: min-content;
  color: $veryLightGray;
  background-color: $brightRed;
  grid-row: 1/3;
  @media (max-width: 992px) {
    grid-row: auto;
    position: relative;
    &:after {
      content: '';
      position: absolute;
      height: 100%;
      width: calc(100vw - 60px);
      top: 0;
      left: 15px;
      background-color: $veryPaleRed;
      z-index: -1;
    }
  }
}

.itemTitle {
  font-weight: 700;
  @media (max-width: 992px) {
    align-self: center;
  }
}
